.modal{
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
    // position: absolute;
    // bottom: 0;
    // height: 75%;
    .modal_darkbg {
        backdrop-filter: blur(50px);
        width: 100%;
        height: 75%;
        z-index: 60;
        bottom: 0px;
        position: absolute;
        border-radius:0 0 10px 10px;
    }
    .modal_close{
        font-family: 'DM Sans';
        font-size: 24px;
        font-weight: bold;
        color: red;
        position: absolute;
        top: 27%;
        right: 3%;
        width: 10%;
        z-index: 65;
        cursor: pointer;
        text-shadow: 5px 5px 10px 10px white;
    }
    .modal_gift{
        z-index: 65;
        position: absolute;
        width: 70%;
        top:30%;
        height: auto;
        opacity: 0.7;
    }

    .modal_score{
        font-family: 'RubikMonoOne';
        font-size: 30px;
        color: #00ff62;
        font-weight: bold;
        position: absolute;
        animation-name: score;
        animation-duration: 3s;
        animation-fill-mode: both;
        z-index: 65;
        text-shadow: 1px 1px 1px black;
    }
    .modal_score1{
        font-family: 'RubikMonoOne';
        font-size: 30px;
        color: red;
        font-weight: bold;
        position: absolute;
        animation-name: score;
        animation-duration: 3s;
        animation-fill-mode: both;
        z-index: 65;
        text-shadow: 1px 1px 1px black;
    }
    .modal_fortune{
        animation-name: luck;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-delay: 1s;
        z-index: 65;
    }

    .modal_content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 40%;
        z-index: 65;
        overflow-y: auto;
        height: 55%;
        animation-name: modal_opacity;
        animation-duration: 5s;
        .modal_icon{
            font-family: 'RubikMonoOne';
            font-size: 30px;
            font-weight: 100;
            text-align: center;
            text-shadow: 1px 1px 1px  black;
            color: red;
            // color: #f8b7b7;
        }
        .modal_desc{
            width: 95%;
            height: 70%;
            font-family: 'DM Sans';
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            text-shadow: 1px 1px 10px  white;
            color: black;
        }
    }

    .modal_content::-webkit-scrollbar {
        width: 3px;
        /* Width of the scrollbar */
    }
    
    .modal_content::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
        /* Background of the scrollbar track */
    }
    
    .modal_content::-webkit-scrollbar-thumb {
        background-color: rgba(195, 27, 27, 0.5);
        /* Color of the scrollbar thumb */
        border-radius: 10px;
        /* Rounded corners for the thumb */
    }
    
    .modal_content::-webkit-scrollbar-thumb:hover {
        background-color: rgba(223, 25, 25, 0.8);
        /* Darker color on hover */
    }
   
}

@keyframes luck {
    0% {top: 45%; left: 45%; opacity: 0;}
    5% {top: 45%; left: 45%; opacity: 1;}
    100% {top: 30%; left: 45%; opacity: 0;}
  }


@keyframes score {
    0% {top: 45%; left: 35%; opacity: 1;}
    50% {top: 30%; left: 35%; opacity: 1; transform: scale(1);}
    100% {top: 5%; left: 5%; opacity: 0; transform: scale(0.5);}
}

@keyframes modal_opacity {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes move_icon{
    0%{ top: 45%; left:35%;}
    100%{top: 30%; left:35%;}
}

