.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    .modal_darkbg {
        backdrop-filter: blur(20px);
        width: 95%;
        height: 50%;
        z-index: 15;
        bottom: 25%;
        left: 2.5%;
        position: absolute;
        border-radius: 10px;
    }
    .modal_close{
        font-family: 'DM Sans';
        font-size: 24px;
        font-weight: bold;
        color: red;
        position: absolute;
        top: 27%;
        right: 7%;
        z-index: 30;
        cursor: pointer;
    }
    .modal_gift{
        z-index: 20;
        position: absolute;
        width: 80%;
        top:30%;
        height: auto;
    }

    .modal_star{
        width: 30px;
        height: auto;
        position: absolute;
    }

    .modal_score{
        font-family: 'DM Sans';
        font-size: 20px;
        color: yellow;
        font-weight: bold;
        position: absolute;
        animation-name: score;
        animation-duration: 3s;
        animation-fill-mode: both;
        z-index: 40;
    }

    .modal_luck_level{
        width: 10%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: luck;
        animation-duration:3s;
        animation-fill-mode: both;
        animation-delay: 1s;
        z-index: 40;
        position: absolute;
    }

   
}

@keyframes luck {
    0% {top: 45%; left: 45%; opacity: 0;}
    5% {top: 45%; left: 45%; opacity: 1;}
    100% {top: 30%; left: 45%; opacity: 0;}
  }


@keyframes score {
    from {top: 45%; left: 45%; opacity: 1;}
    to {top: 30%; left: 45%; opacity: 0;}
    }

