.admin{
    .admin_userdata_content{
        position: relative;
        width: 90%;
        height: 90%;
        .admin_table{
            display: flex;
            justify-content: center;
            .admin_table_title{
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
        
    }
}