@import url('https://fonts.google.com/specimen/Rubik+Mono+One');

body{
  font-family: 'Rubik+Mono+One';
}


#root {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}



.app::-webkit-scrollbar {
  width: 3px;
  /* height: 90%; */
  /* Width of the scrollbar */
}

.app::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  /* Background of the scrollbar track */
}

.app::-webkit-scrollbar-thumb {
  background-color: rgba(173, 33, 33, 0.5);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

.app::-webkit-scrollbar-thumb:hover {
  background-color: rgba(173, 33, 33, 0.8);
  /* Darker color on hover */
}

.app {
  width: 100%; 
  height: 100%;
  overflow: auto;
  /* border-radius: 30px; */
}

.app {
  height: 100vh; /* Full height */
}

@media (max-width: 450px) {
  .app {
    width: 100%; 
    height: 100%;
    border: black;
    border: solid;
    /* border-radius: 20px; */
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  .app {
    width: 80%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .app {
    width: 60%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .app {
    width: 50%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .app {
    width: 40%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .app {
    width: 40%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .app {
    width: 30%; 
    height: 95%;
    border: black;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
  }
}

@media (min-width: 1200px) {
  .app {
    width: 25%; 
    height: 95%;
    /* border: red; */
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    /* border-radius: 30px; */
  }
}

/* height */
/* @media (min-height: 500px) {
  .app{
    height: 80vh;
  }
} */


@font-face {
  font-family: 'ProstoOne-Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/ProstoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Black';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'TitanOne';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/TitanOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikMonoOne';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlaywriteDESASGuides';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/PlaywriteDESASGuides-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AlfaSlabOne';
  font-style: normal;
  font-weight: normal;
  src:  url('./font/AlfaSlabOne-Regular.ttf') format('truetype');
}


